{extend name='admin@public/content'}

{block name="button"}
<!--{if auth("$classuri/add")}-->
<button data-modal='{:url("$classuri/add")}' data-title="添加产品" class='layui-btn layui-btn-sm'>添加产品</button>
<!--{/if}-->
<!--{if auth("$classuri/del")}-->
<button data-update data-field='delete' data-action='{:url("$classuri/del")}' class='layui-btn layui-btn-sm layui-btn-danger'>删除产品</button>
<!--{/if}-->
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-inline">
            <input name="title" value="{$Think.get.title|default=''}" placeholder="请输入产品名" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">类 型</label>
        <div class="layui-input-inline">
            <select name="tag" class="layui-select" lay-search="true">
                <option value="">- 产品类型 -</option>
                <!--{foreach $tags as $key=>$tag}-->
                <!--{if $Think.get.tag eq $key}-->
                <option selected value="{$key}">{$tag}</option>
                <!--{else}-->
                <option value="{$key}">{$tag}</option>
                <!--{/if}-->
                <!--{/foreach}-->
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">创建时间</label>
        <div class="layui-input-inline">
            <input name="create_at" id='range-date' value="{$Think.get.create_at|default=''}" placeholder="请选择登录时间" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>

</form>
<script>
    window.laydate.render({range: true, elem: '#range-date'});
	window.form.render();
</script>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="true" method="post">
    <!--{empty name='list'}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <input type="hidden" value="resort" name="action">
    <table class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <th class='list-table-check-td'>
                <input data-auto-none="" data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='text-left nowrap'>标题</th>
            <th class='text-left nowrap'>图片</th>
            <th class='text-left nowrap'>类型</th>
            <th class='text-left nowrap'>规格</th>
            <th class='text-left nowrap'>等级</th>
            <th class='text-left nowrap'>包装方式</th>
            <th class='text-left nowrap'>创建时间</th>
            <th class='text-left nowrap'>创建者</th>
            <th class='text-left nowrap'>操作</th>
        </tr>
        </thead>
        <tbody>
        <!--{foreach $list as $key=>$vo}-->
        <tr>
            <td class='list-table-check-td'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>
            <td class='text-left nowrap'>
                {$vo.title}
            </td>
            <td class="text-left"><img data-tips-image="" src="{$vo.img_url}" style="height: 50px;width: 100px;"></td>
            <td class='text-left nowrap'>
                {$vo.type_title}
            </td>
            <td class='text-left nowrap'>
                {$vo.format}
            </td>
            <td class='text-left nowrap'>
                {$vo.level}
            </td>
            <td class='text-left nowrap'>
                {$vo.packing}
            </td>
            <td class='text-left nowrap'>
                {$vo.create_at|default="<span class='color-desc'>创建时间</span>"|raw}
            </td>
            <td class='text-left nowrap'>
                {$vo.create_by}
            </td>
            <td class='text-left nowrap'>

                {if auth("$classuri/edit")}
                <span class="text-explode">|</span>
                <a data-title="编辑产品" data-open='{:url("$classuri/edit")}?id={$vo.id}'>编辑</a>
                {/if}

                {if auth("$classuri/del")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='delete' data-action='{:url("$classuri/del")}'>删除</a>
                {/if}

            </td>
        </tr>
        <!--{/foreach}-->
        </tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/empty}-->
</form>
{/block}