<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="keywords" content="中国外贸家,外贸平台,外贸出口平台,外贸交易服务平台,外贸B2B平台">
    <meta name="description" content="中国外贸家以“让天下没有做不成的生意”为使命,让中国制造企业更简单高效地参与外贸出口,全球采购,外贸交易服务平台,直达目标市场.">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>中国外贸家—全球贸易B2B交易服务平台领跑者</title>
    <link rel="shortcut icon" href="{:sysconf('browser_icon')}">
    <link rel="dns-prefetch" href="https://cdn.bootcss.com/">
    <link href="https://cdn.bootcss.com/mdui/0.3.0/css/mdui.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/Swiper/4.0.6/css/swiper.min.css" rel="stylesheet">
    <link href="http://at.alicdn.com/t/font_446953_qql95ojohp808uxr.css" rel="stylesheet">
    <link rel="stylesheet" href="static/index/css/index.css">
    <link href="https://cdn.bootcss.com/outdated-browser/1.1.5/outdatedbrowser.min.css" rel="stylesheet">
    <script type="text/javascript">
        document.createElement("picture");
    </script>
    <script src="https://cdn.bootcss.com/picturefill/3.0.3/picturefill.min.js" async></script>
</head>

<body class="mdui-theme-primary-red mdui-theme-accent-red">
    <header class="mdui-color-grey-900 mdui-shadow-5">
        <div class="mdui-container mdui-xs-fluid mdui-p-a-0">
            <div class="mdui-appbar mdui-shadow-0">
                <div class="mdui-toolbar">
                    <a href="index.html" class="mdui-btn mdui-ripple mdui-m-x-2 mdui-p-a-0 best-logo">
                        {:sysconf('site_name')}<span class="mdui-hidden-xs">网络科技</span>
                    </a>
                    <div class="mdui-toolbar-spacer"></div>
                    <a href="index.html" class="mdui-btn mdui-ripple mdui-ripple-white">首页</a>
                    <a href="javascript:;" class="mdui-btn mdui-ripple mdui-ripple-white mdui-text-color-theme">中国外贸家</a>
                    <div class="mdui-hidden-sm-down mdui-m-a-0">
                        <a href="about-us.html" class="mdui-btn mdui-ripple mdui-ripple-white">关于我们</a>
                        <a href="news.html" class="mdui-btn mdui-ripple mdui-ripple-white">新闻资讯</a>
                        <a href="join-us.html" class="mdui-btn mdui-ripple mdui-ripple-white">诚聘英才</a>
                        <a href="contact-us.html" class="mdui-btn mdui-ripple mdui-ripple-white">联系我们</a>
                    </div>
                    <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-hidden-md-up mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#left-drawer',swipe:'true'}">
                        <i class="mdui-icon material-icons">more_horiz</i>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="mdui-drawer mdui-drawer-close" id="left-drawer">
        <div class="mdui-list">
            {volist name="nav_list" id="vo" offset="1" length='10'}
            <a href="{$vo.url}" target="{$vo.target}" class="mdui-list-item mdui-ripple">{$vo.title}</a>
            {/volist}
        </div>
    </div>

    <main>
        <a href="http://www.bestsuppliers.com" target="_blank" class="best-bannar">
            <picture>
                <source srcset="static/index/images/bs-1-xs.jpg" media="(max-width: 600px)">
                <img class="mdui-img-fluid best-img" srcset="static/index/images/bs-1.jpg" alt="加入中国外贸家">
            </picture>
        </a>
        <div style="background-color:#faf8f8">
            <picture>
                <source srcset="static/index/images/bs-2-xs.jpg" media="(max-width: 600px)">
                <img class="mdui-img-fluid mdui-center" srcset="static/index/images/bs-2.jpg" alt="中国外贸家是三位一体的全球贸易B2B交易服务平台">
            </picture>

        </div>
        <div class="mdui-color-grey-200 mdui-p-y-auto">
            <div class="mdui-container">
                <picture>
                    <source srcset="static/index/images/bs-3-xs.jpg" media="(max-width: 600px)">
                    <img class="mdui-img-fluid best-img" srcset="static/index/images/bs-3.jpg" alt="加入{:sysconf('site_name')}的赚与省">
                </picture>

            </div>
        </div>
        <div style="background-color:#d7dfe1">
            <div class="mdui-container">
                <div class="mdui-row mdui-md-valign">
                    <div class="mdui-hidden-sm-down mdui-col-xs-12 mdui-col-md-5">
                        <img class="mdui-img-fluid best-img" src="static/index/images/bs-4.png" alt="Bestsuppliers生产者联盟">
                    </div>
                    <div class="mdui-col-xs-12 mdui-col-md-7 mdui-p-y-auto">
                        <div class="best-title mdui-xs-text-center">Bestsuppliers生产者联盟</div>
                        <div class="mdui-typo-body-2 mdui-m-y-1 mdui-xs-text-center">中国外贸家给您带来的不仅仅是外贸商机，还有您成功路上亟需的人脉圈</div>
                        <div class="mdui-row-xs-1 mdui-row-sm-3 mdui-text-center">
                            <div class="mdui-col mdui-m-t-1 mdui-p-t-1">
                                <picture>
                                    <source srcset="static/index/images/bs-xs-5.jpg" media="(max-width: 600px)">
                                    <img class="mdui-img-fluid best-img" srcset="static/index/images/bs-5.jpg" alt="管理培训">
                                </picture>
                                <div class="mdui-typo-subheading-opacity mdui-m-y-1">管理培训</div>
                            </div>
                            <div class="mdui-col mdui-m-t-1 mdui-p-t-1">
                                <picture>
                                    <source srcset="static/index/images/bs-xs-6.jpg" media="(max-width: 600px)">
                                    <img class="mdui-img-fluid best-img" srcset="static/index/images/bs-6.jpg" alt="论坛">
                                </picture>
                                <div class="mdui-typo-subheading-opacity mdui-m-y-1">论坛</div>
                            </div>
                            <div class="mdui-col mdui-m-t-1 mdui-p-t-1">
                                <picture>
                                    <source srcset="static/index/images/bs-xs-7.jpg" media="(max-width: 600px)">
                                    <img class="mdui-img-fluid best-img" srcset="static/index/images/bs-7.jpg" alt="沙龙">
                                </picture>
                                <div class="mdui-typo-subheading-opacity mdui-m-y-1">沙龙</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdui-container-fluid mdui-p-x-0">
            <picture>
                <source srcset="static/index/images/bs-10.jpg" media="(max-width: 600px)">
                <source srcset="static/index/images/bs-9.jpg" media="(max-width: 1440px)">
                <img class="mdui-img-fluid best-img" srcset="static/index/images/bs-8.jpg" alt="20年外贸经验，选{:sysconf('site_name')}就对了">
            </picture>
        </div>
        <div class="mdui-container mdui-text-center mdui-p-y-auto best-grow">
            <div class="best-title">信任，服务，成就！</div>
            <div class="mdui-typo-subheading">
                <i class="iconfont mdui-icon icon-line mdui-hidden-xs mdui-text-color-theme"></i>
                trust,service,achievement!
                <i class="iconfont mdui-icon icon-line mdui-hidden-xs mdui-text-color-theme"></i>
            </div>
            <div class="mdui-row-xs-1 mdui-row-md-3 mdui-m-t-1">
                <div class="mdui-col">
                    <div class="mdui-card mdui-m-t-2">
                        <div class="mdui-card-media">
                            <picture>
                                <source srcset="static/index/images/grow-xs-1.jpg" media="(max-width: 1024px)">
                                <img srcset="static/index/images/grow-1.jpg" alt="兰溪金威国际贸易有限公司">
                            </picture>
                        </div>
                        <div class="mdui-card-primary mdui-p-l-0 mdui-color-grey-900">
                            <div class="mdui-card-primary-title mdui-text-color-theme mdui-text-truncate">兰溪金威国际贸易有限公司</div>
                            <div class="mdui-card-primary-subtitle">与兰溪金威国际贸易有限公司合作，成功拓展海外市场，增加20%销售额</div>
                        </div>
                    </div>
                </div>
                <div class="mdui-col">
                    <div class="mdui-card mdui-m-t-2">
                        <div class="mdui-card-media">
                            <picture>
                                <source srcset="static/index/images/grow-xs-2.jpg" media="(max-width: 1024px)">
                                <img srcset="static/index/images/grow-2.jpg" alt="日锵五金家具有限公司">
                            </picture>
                        </div>
                        <div class="mdui-card-primary mdui-p-l-0 mdui-color-grey-900">
                            <div class="mdui-card-primary-title mdui-text-color-theme mdui-text-truncate">日锵五金家具有限公司</div>
                            <div class="mdui-card-primary-subtitle">成功签下第一笔海外订单，跨出国际贸易的第一步</div>
                        </div>
                    </div>
                </div>
                <div class="mdui-col">
                    <div class="mdui-card mdui-m-t-2">
                        <div class="mdui-card-media">
                            <picture>
                                <source srcset="static/index/images/grow-xs-3.jpg" media="(max-width: 1024px)">
                                <img srcset="static/index/images/grow-3.jpg" alt="中国市下控股集团">
                            </picture>
                        </div>
                        <div class="mdui-card-primary mdui-p-l-0 mdui-color-grey-900">
                            <div class="mdui-card-primary-title mdui-text-color-theme mdui-text-truncate">中国市下控股集团</div>
                            <div class="mdui-card-primary-subtitle">提前半年完成年销售额3000万美金的预期目标</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdui-color-grey-200">
            <a href="tel://400-880-1735" class="mdui-container mdui-xs-fluid mdui-p-x-0">
                <picture class="mdui-hidden-xs mdui-p-x-1 mdui-p-y-auto">
                    <source srcset="static/index/images/last-xs.jpg" media="(max-width: 599px)">
                    <img class="mdui-img-fluid mdui-img-rounded best-img" srcset="static/index/images/last.jpg" alt="{:sysconf('site_name')}招商热线">
                </picture>
                <picture class="mdui-hidden-sm-up">
                    <source srcset="static/index/images/last-xs.jpg" media="(max-width: 599px)">
                    <img class="mdui-img-fluid best-img" srcset="static/index/images/last.jpg" alt="{:sysconf('site_name')}招商热线">
                </picture>
            </a>
        </div>
    </main>
    <footer class="mdui-container mdui-p-y-auto">
        <div class="mdui-row-xs-1 mdui-row-sm-2 mdui-sm-valign">
            <div class="mdui-col order-right mdui-text-right mdui-xs-text-center">
                <a href="tel://{:comconf('phone')}" class="mdui-btn mdui-btn-icon mdui-ripple mdui-color-indigo-500 mdui-m-r-2" mdui-tooltip="{content: '{:comconf('phone')}', position: 'top'}">
                    <i class="iconfont mdui-icon icon-phone"></i>
                </a>
                <a href="mailto:{:comconf('email')}" class="mdui-btn mdui-ripple mdui-btn-icon mdui-color-red-500 mdui-m-r-2" mdui-tooltip="{content: '{:comconf('email')}', position: 'top'}">
                    <i class="mdui-icon material-icons">email</i>
                </a>
                <button type="button" class="mdui-btn mdui-btn-icon mdui-ripple mdui-hidden-md-up mdui-color-green-500 mdui-m-r-2 mdui-text-color-white" mdui-dialog="{target: '#wechat'}">
                    <i class="iconfont mdui-icon icon-wechat"></i>
                </button>
                <button type="button" class="mdui-btn mdui-btn-icon mdui-ripple mdui-hidden-sm-down mdui-color-green-500 mdui-m-r-2 mdui-text-color-white" id="click-wechat">
                    <i class="iconfont mdui-icon icon-wechat"></i>
                </button>
                <a href="{:comconf('weibo')}" target="_blank" rel="nofollow" class="mdui-btn mdui-ripple mdui-btn-icon mdui-text-color-white mdui-color-amber-500" mdui-tooltip="{content: '欢迎访问{:sysconf('site_name')}官方微博', position: 'top'}">
                    <i class="iconfont mdui-icon icon-weibo"></i>
                </a>
            </div>
            <div class="mdui-col mdui-xs-text-center mdui-p-y-1">
                {:sysconf('site_copy')} {:sysconf('site_name')}网络科技 All Rights Reserved {:sysconf('miitbeian')}
            </div>
        </div>
    </footer>
    <div class="mdui-dialog" id="wechat">
        <img src="{:comconf('wechat_img')}" alt="{:sysconf('site_name')}微信公众号二维码">
        <div class="mdui-typo-subheading mdui-text-center mdui-m-b-1">欢迎关注{:sysconf('site_name')}官方微信</div>
    </div>
    <div id="outdated"></div>
    <script src="https://cdn.bootcss.com/outdated-browser/1.1.5/outdatedbrowser.min.js"></script>
    <script>
        outdatedBrowser({
            bgColor: '#f25648',
            color: '#ffffff',
            lowerThan: 'transform',
            languagePath: '/static//index/zh-cn.html'
        })
    </script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/mdui/0.3.0/js/mdui.min.js"></script>
    <script src="https://cdn.bootcss.com/Swiper/4.0.6/js/swiper.min.js"></script>
    <script>
        var wechat = new mdui.Tooltip('#click-wechat', {
            position: 'top',
            content: '<img src="{:comconf(\'wechat_img\')}" alt="微信公众号二维码"><div class="best-arrow"></div>'
        });
    </script>
    <!--<script type="text/javascript">-->
        <!--var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");-->
        <!--document.write(unescape("%3Cspan class='mdui-hidden' id='cnzz_stat_icon_1272450297'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1272450297%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));-->
    <!--</script>-->
</body>

</html>
