<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="keywords" content="{:sysconf('site_name')}联系电话,中国外贸家联系电话">
    <meta name="description" content="浙江百佳荟网络科技有限公司联系电话400-880-1735,百佳荟是外贸B2B综合交易服务平台,外贸咨询.">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>{:sysconf('site_name')}中国外贸家-联系我们</title>
    <link rel="shortcut icon" href="{:sysconf('browser_icon')}">
    <link rel="dns-prefetch" href="https://cdn.bootcss.com/">
    <link href="https://cdn.bootcss.com/mdui/0.3.0/css/mdui.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/Swiper/4.0.6/css/swiper.min.css" rel="stylesheet">
    <link href="http://at.alicdn.com/t/font_446953_qql95ojohp808uxr.css" rel="stylesheet">
    <link rel="stylesheet" href="static/index/css/index.css">
    <link href="https://cdn.bootcss.com/outdated-browser/1.1.5/outdatedbrowser.min.css" rel="stylesheet">
    <script type="text/javascript">
        document.createElement("picture");
    </script>
    <script src="https://cdn.bootcss.com/picturefill/3.0.3/picturefill.min.js" async></script>
</head>

<body class="mdui-theme-primary-red mdui-theme-accent-red">
    <header class="mdui-color-grey-900 mdui-shadow-5">
        <div class="mdui-container mdui-xs-fluid mdui-p-a-0">
            <div class="mdui-appbar mdui-shadow-0">
                <div class="mdui-toolbar">
                    <a href="index.html" class="mdui-btn mdui-ripple mdui-m-x-2 mdui-p-a-0 best-logo">
                        {:sysconf('site_name')}<span class="mdui-hidden-xs">网络科技</span>
                    </a>
                    <div class="mdui-toolbar-spacer"></div>
                    <a href="index.html" class="mdui-btn mdui-ripple mdui-ripple-white">首页</a>
                    {volist name="nav_list" id="vo" offset="0" length='1'}
                    <a href="{$vo.url}" target="{$vo.target}" class="mdui-btn mdui-ripple mdui-ripple-white">{$vo.title}</a>
                    {/volist}
                    <div class="mdui-hidden-sm-down mdui-m-a-0">
                        {volist name="nav_list" id="vo" offset="1" length='10'}
                        {if $navs == $vo.title }
                        <a href="{$vo.url}" target="{$vo.target}"
                           class="mdui-btn mdui-ripple mdui-ripple-white mdui-text-color-theme">{$vo.title}</a>
                        {else}
                        <a href="{$vo.url}" target="{$vo.target}"
                           class="mdui-btn mdui-ripple mdui-ripple-white">{$vo.title}</a>
                        {/if}
                        {/volist}
                    </div>
                    <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-hidden-md-up mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#left-drawer',swipe:'true'}">
                        <i class="mdui-icon material-icons">more_horiz</i>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="mdui-drawer mdui-drawer-close" id="left-drawer">
        <div class="mdui-list">
            {volist name="nav_list" id="vo" offset="1" length='10'}
            <a href="{$vo.url}" target="{$vo.target}" class="mdui-list-item mdui-ripple">{$vo.title}</a>
            {/volist}
        </div>
    </div>
        <div class="mdui-container-fluid best-bannar best-bg-img" style="background-image:url('uploads/banner/20171214/7b78e8149ea5b751ad2b4534231d5d12.jpg')"></div>
        <main class="mdui-color-grey-50 mdui-p-y-auto">
            {volist name="address_list" id="vo"}
        <div class="mdui-container mdui-shadow-2 mdui-border-radius mdui-color-white mdui-m-b-2 mdui-p-y-auto mdui-p-x-auto">
            <div class="mdui-row">
                <div class="mdui-col-xs-12 mdui-col-sm-5">
                    <h3 class="mdui-m-t-0 best-t1">{$vo.title}</h3>
                    <div class="best-list">
                        <div class="best-list-item">
                            <i class="iconfont mdui-icon icon-phone"></i>
                            <div class="best-list-hd">服务热线</div>:
                            <div class="best-list-bd">{$vo.phone}</div>
                        </div>
                        <div class="best-list-item">
                            <i class="iconfont mdui-icon icon-fax"></i>
                            <div class="best-list-hd">传真</div>:
                            <div class="best-list-bd">{$vo.fax}</div>
                        </div>
                        <div class="best-list-item">
                            <i class="iconfont mdui-icon icon-letter"></i>
                            <div class="best-list-hd">邮箱地址</div>:
                            <div class="best-list-bd">{$vo.email}</div>
                        </div>
                        <div class="best-list-item start">
                            <div class="best-list-item">
                                <i class="iconfont mdui-icon icon-location"></i>
                                <div class="best-list-hd">公司地址</div>:
                            </div>
                            <div class="best-list-bd">{$vo.address}</div>
                        </div>
                        <div class="best-list-item">
                            <i class="iconfont mdui-icon icon-mailbox"></i>
                            <div class="best-list-hd">邮编</div>:
                            <div class="best-list-bd">{$vo.code}</div>
                        </div>
                    </div>
                </div>
                <div class="mdui-col-xs-12 mdui-col-offset-sm-1 mdui-col-sm-6">
                    <a class="mdui-btn mdui-btn-block mdui-color-grey-200 mdui-ripple mdui-ripple-grey mdui-hidden-sm-up mdui-text-color-theme" target="_blank" href="{$vo.map_url}">查看地图</a>
                    <div class="mdui-hidden-xs" id="company-position" style="height:300px"></div>
                </div>
            </div>
        </div>
            {/volist}
        <div class="mdui-container mdui-shadow-1 mdui-border-radius mdui-color-white mdui-p-y-auto mdui-p-x-auto">
            <div class="best-partition mdui-color-grey-100 mdui-m-b-1 mdui-p-x-2 mdui-p-y-1">在线留言</div>
            <div class="mdui-row mdui-sm-valign">
                <form id="myform" class="mdui-col-xs-12 mdui-col-sm-6 mdui-p-x-auto">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <i class="iconfont mdui-icon icon-ren"></i>
                        <label class="mdui-textfield-label">姓名</label>
                        <input name="name" class="mdui-textfield-input" type="text" required pattern="^\S{1,10}$">
                        <div class="mdui-textfield-error">请输入您的姓名</div>
                    </div>
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <i class="iconfont mdui-icon icon-letter"></i>
                        <label class="mdui-textfield-label">邮箱</label>
                        <input name="email" class="mdui-textfield-input" type="email" required>
                        <div class="mdui-textfield-error">请输入可用的邮箱</div>
                    </div>
                    <div class="mdui-textfield mdui-textfield-floating-label best-phone">
                        <i class="iconfont mdui-icon icon-phone1"></i>
                        <label class="mdui-textfield-label">手机</label>
                        <input name="phone" class="mdui-textfield-input" type="tel" pattern="^[1][3,4,5,7,8][0-9]{9}$" required>
                        <div class="mdui-textfield-error">请输入正确的手机号</div>
                    </div>
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <i class="iconfont mdui-icon icon-message"></i>
                        <label class="mdui-textfield-label">留言</label>
                        <textarea name="content" class="mdui-textfield-input" required maxlength="150" type="text"></textarea>
                        <div class="mdui-textfield-error">请留言</div>
                    </div>
                    <div class="mdui-p-t-1 mdui-p-b-2 mdui-text-center">
                        <button type="reset" class="mdui-btn mdui-color-grey-400 mdui-ripple mdui-m-r-4">重置</button>
                        <button type="submit" class="mdui-btn mdui-color-theme-accent mdui-ripple">提交</button>
                    </div>
                </form>
                <div class="mdui-col-xs-12 mdui-col-sm-6">
                    <picture>
                        <source srcset="static/index/images/wechat-xs.jpg" media="(max-width: 600px)">
                        <img class="mdui-img-fluid best-img" srcset="static/index/images/wechat-lg.jpg" alt="百佳荟微信公众号二维码求扫码">
                    </picture>
                </div>
            </div>
        </div>
    </main>

    <footer class="mdui-container mdui-p-y-auto">
        <div class="mdui-row-xs-1 mdui-row-sm-2 mdui-sm-valign">
            <div class="mdui-col order-right mdui-text-right mdui-xs-text-center">
                <a href="tel://{:comconf('phone')}" class="mdui-btn mdui-btn-icon mdui-ripple mdui-color-indigo-500 mdui-m-r-2" mdui-tooltip="{content: '{:comconf('phone')}', position: 'top'}">
                    <i class="iconfont mdui-icon icon-phone"></i>
                </a>
                <a href="mailto:{:comconf('email')}" class="mdui-btn mdui-ripple mdui-btn-icon mdui-color-red-500 mdui-m-r-2" mdui-tooltip="{content: '{:comconf('email')}', position: 'top'}">
                    <i class="mdui-icon material-icons">email</i>
                </a>
                <button type="button" class="mdui-btn mdui-btn-icon mdui-ripple mdui-hidden-md-up mdui-color-green-500 mdui-m-r-2 mdui-text-color-white" mdui-dialog="{target: '#wechat'}">
                    <i class="iconfont mdui-icon icon-wechat"></i>
                </button>
                <button type="button" class="mdui-btn mdui-btn-icon mdui-ripple mdui-hidden-sm-down mdui-color-green-500 mdui-m-r-2 mdui-text-color-white" id="click-wechat">
                    <i class="iconfont mdui-icon icon-wechat"></i>
                </button>
                <a href="{:comconf('weibo')}" target="_blank" rel="nofollow" class="mdui-btn mdui-ripple mdui-btn-icon mdui-text-color-white mdui-color-amber-500" mdui-tooltip="{content: '欢迎访问{:sysconf('site_name')}官方微博', position: 'top'}">
                    <i class="iconfont mdui-icon icon-weibo"></i>
                </a>
            </div>
            <div class="mdui-col mdui-xs-text-center mdui-p-y-1">
                {:sysconf('site_copy')} {:sysconf('site_name')}网络科技 All Rights Reserved {:sysconf('miitbeian')}
            </div>
        </div>
    </footer>
    <div class="mdui-dialog" id="wechat">
        <img src="{:comconf('wechat_img')}" alt="百佳荟微信公众号二维码">
        <div class="mdui-typo-subheading mdui-text-center mdui-m-b-1">欢迎关注百佳荟官方微信</div>
    </div>
    <div id="outdated"></div>
    <script src="https://cdn.bootcss.com/outdated-browser/1.1.5/outdatedbrowser.min.js"></script>
    <script>
        outdatedBrowser({
            bgColor: '#f25648',
            color: '#ffffff',
            lowerThan: 'transform',
            languagePath: '/static//index/zh-cn.html'
        })
    </script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/mdui/0.3.0/js/mdui.min.js"></script>
    <script src="https://cdn.bootcss.com/Swiper/4.0.6/js/swiper.min.js"></script>
    <script src="http://webapi.amap.com/maps?v=1.4.1&amp;key=b496aa3861cc7d4045c54f2758815b87"></script>
    <script>
        $('#myform').submit(function() {
            $.ajax({
                url: 'contact-us',
                type: 'POST',
                data: $('#myform').serialize(),
                success: function(data){
                    if(data.code==1){
                        mdui.alert("留言成功，感谢您的光顾！");
                        document.getElementById("myform").reset();
                    }else{
                        mdui.alert("留言失败，请重新尝试！")
                    }
                },
            });
            return false;
        });

        var wechat = new mdui.Tooltip('#click-wechat', {
            position: 'top',
            content: '<img src="{:comconf(\'wechat_img\')}" alt="微信公众号二维码"><div class="best-arrow"></div>'
        });
        // 总公司
        var map = new AMap.Map('company-position', {
            resizeEnable: true,
            center: [120.0051535, 30.277666],
            zoom: 18
        });

        var marker = new AMap.Marker({
            position: [120.0051535, 30.277666]
        });
        marker.setMap(map);
        marker.on('click', function(e) {
            infowindow.open(map, e.target.getPosition());
        })
        AMap.plugin('AMap.AdvancedInfoWindow', function() {
            infowindow = new AMap.AdvancedInfoWindow({
                content: '<div class="info-content mdui-p-a-1 mdui-valign"><img class="mdui-m-r-1" src="/static//index/images/logo.svg" alt="logo" height="20">浙江百佳荟网络科技有限公司</div>',
                offset: new AMap.Pixel(0, -30)
            });
            infowindow.open(map, [120.0051535, 30.277666]);
        });
        AMap.plugin(['AMap.ToolBar'],
            function() {
                map.addControl(new AMap.ToolBar());
            }
        );
        // 营销中心
        var omap = new AMap.Map('branch-position', {
            resizeEnable: true,
            center: [119.438958, 29.211348],
            // dragEnable: false,
            zoom: 18

        });

        AMap.plugin(['AMap.ToolBar'],
            function() {
                omap.addControl(new AMap.ToolBar());
            }
        );

        var omarker = new AMap.Marker({
            position: [119.438958, 29.211348]
        });
        omarker.setMap(omap);
        omarker.on('click', function(e) {
            infowindow.open(omap, e.target.getPosition());
        })
        AMap.plugin('AMap.AdvancedInfoWindow', function() {
            infowindow = new AMap.AdvancedInfoWindow({
                content: '<div class="info-content mdui-p-a-1 mdui-valign"><img class="mdui-m-r-1" src="/static//index/images/logo.svg" alt="logo" height="20">百佳荟网络科技浙中营销中心</div>',
                offset: new AMap.Pixel(0, -30)
            });
            infowindow.open(omap, [119.438958, 29.211348]);
        })
    </script>

    <!--<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan class='mdui-hidden' id='cnzz_stat_icon_1272450297'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1272450297%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));-->
    <!--</script>-->
</body>

</html>
