<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="keywords" content="{:comconf('keywords')}">
    <meta name="description" content="{:comconf('description')}">
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>{:comconf('title')}</title>
    <link rel="shortcut icon" href="{:sysconf('browser_icon')}">
    <link rel="dns-prefetch" href="https://cdn.bootcss.com/">
    <link href="https://cdn.bootcss.com/mdui/0.3.0/css/mdui.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/Swiper/4.0.6/css/swiper.min.css" rel="stylesheet">
    <link href="http://at.alicdn.com/t/font_446953_qql95ojohp808uxr.css" rel="stylesheet">
    <link rel="stylesheet" href="static/index/css/index-v=2.4.css">
    <link href="https://cdn.bootcss.com/outdated-browser/1.1.5/outdatedbrowser.min.css" rel="stylesheet">
    <script type="text/javascript">
        document.createElement("picture");
    </script>
    <script src="https://cdn.bootcss.com/picturefill/3.0.3/picturefill.min.js" async></script>
</head>

<body class="mdui-theme-primary-red mdui-theme-accent-red">
<header class="mdui-color-grey-900 mdui-shadow-5">
    <div class="mdui-container mdui-xs-fluid mdui-p-a-0">
        <div class="mdui-appbar mdui-shadow-0">
            <div class="mdui-toolbar">
                <a href="index.html" class="mdui-btn mdui-ripple mdui-m-x-2 mdui-p-a-0 best-logo">
                    {:sysconf('site_name')}<span class="mdui-hidden-xs">网络科技</span>
                </a>
                <div class="mdui-toolbar-spacer"></div>
                <a href="index.html" class="mdui-btn mdui-ripple mdui-ripple-white mdui-text-color-theme">首页</a>
                {volist name="nav_list" id="vo" offset="0" length='1'}
                <a href="{$vo.url}" target="{$vo.target}" class="mdui-btn mdui-ripple mdui-ripple-white">{$vo.title}</a>
                {/volist}
                <div class="mdui-hidden-sm-down mdui-m-a-0">
                    {volist name="nav_list" id="vo" offset="1" length='10'}
                    <a href="{$vo.url}" target="{$vo.target}"
                       class="mdui-btn mdui-ripple mdui-ripple-white">{$vo.title}</a>
                    {/volist}
                </div>
                <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-hidden-md-up mdui-ripple mdui-ripple-white"
                   mdui-drawer="{target: '#left-drawer',swipe:'true'}">
                    <i class="mdui-icon material-icons">more_horiz</i>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="mdui-drawer mdui-drawer-close" id="left-drawer">
    <div class="mdui-list">
        {volist name="nav_list" id="vo" offset="1" length='10'}
        <a href="{$vo.url}" target="{$vo.target}" class="mdui-list-item mdui-ripple">{$vo.title}</a>
        {/volist}
    </div>
</div>

<div class="swiper-container">
    <div class="swiper-wrapper">
        {volist name="slide_list" id="vo"}
        <div class="swiper-slide mdui-color-grey-200">
            <a href="{$vo.url}" target="{$vo.target}">
                <picture>
                    <img class="mdui-img-fluid best-img" srcset="{$vo.img_url}" alt="{$vo.title}">
                </picture>
            </a>
        </div>
        {/volist}
    </div>
    <div class="swiper-pagination"></div>
</div>
<div class="mdui-color-grey-100 mdui-p-y-auto best-company">
    <div class="mdui-container">
        <div class="mdui-card mdui-shadow-0 mdui-row mdui-color-grey-100 mdui-sm-valign">
            <div class="mdui-card-media mdui-hidden-sm-down mdui-col-xs-12 mdui-col-md-4 mdui-p-r-0 mdui-m-y-1">
                <img src="static/index/images/company.jpg" class="mdui-img-rounded mdui-shadow-5"
                     alt="{:sysconf('site_name')}">
            </div>
            <div class="mdui-col-xs-12 mdui-col-md-8">
                <div class="mdui-card-primary mdui-text-center">
                    <div class="best-t1">公司介绍</div>
                    <div class="best-t-e mdui-text-uppercase">about us</div>
                </div>
                <div class="mdui-card-content best-text-content mdui-text-index-2">
                    <p>
                        浙江{:sysconf('site_name')}网络科技有限公司（简称{:sysconf('site_name')}网络科技）成立于2017年，公司核心团队是由一批具有互联网、国际贸易、安全支付、法律等行业背景的资深精英组成。公司总部位于美丽的中国杭州，在杭州未来科技城拥有自己的办公大楼，目前已经在浙江兰溪设立了浙中运营中心。</p>
                    <img src="static/index/images/company.jpg"
                         class="mdui-img-rounded mdui-hidden-md-up mdui-shadow-5 mdui-center"
                         alt="{:sysconf('site_name')}">
                    <p class="mdui-hidden-sm-up">
                        立足于过去二十多年外贸实际经验和成果，{:sysconf('site_name')}网络科技目前已经打造并且投入运营重点项目“中国外贸家”平...
                        <a href="about-us.html" class="mdui-text-color-theme mdui-float-right">更多精彩</a></p>
                    <div class="mdui-hidden-xs">
                        <p>
                            立足于过去二十多年外贸实际经验和成果，{:sysconf('site_name')}网络科技目前已经打造并且投入运营重点项目“中国外贸家”平台。平台定位为全球贸易B2B交易服务平台领跑者，旨在通过平台双向交易服务帮助全球采购商与中国最佳供应商达成长远、深度合作。它包含供应商优选平台、海外推广运营平台和外贸交易服务平台。“中国外贸家“以”让天下没有做不成的生意“为使命，让中国制造企业更简单高效地参与全球采购，直达目标市场。</p>
                        <p>面向未来，公司将秉承 “开放、正直、责任、成长”的价值观，着力打造全球贸易B2B领域全新模式，以卓越的市场前瞻力和技术创新力推动中国互联网产业的发展，成就国际贸易新未来。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mdui-container mdui-p-y-auto mdui-text-center best-culture">
    <div class="best-t1">企业文化</div>
    <div class="mdui-text-uppercase best-t-e">Culture</div>
    <picture>
        <source srcset="static/index/images/mission-xs.jpg" media="(max-width: 1024px)">
        <img class="mdui-img-fluid mdui-img-rounded mdui-shadow-10" srcset="static/index/images/mission.jpg"
             alt="{:sysconf('site_name')}使命">
    </picture>
    <div class="mdui-row">
        <div class="mdui-col-xs-6 mdui-col-sm-3 mdui-m-t-2">
            <img src="static/index/images/1.jpg" class="mdui-img-fluid mdui-img-rounded mdui-shadow-5"
                 alt="{:sysconf('site_name')}价值观">
        </div>
        <div class="mdui-col-xs-6 mdui-col-sm-3 mdui-m-t-2">
            <img src="static/index/images/2.jpg" class="mdui-img-fluid mdui-img-rounded mdui-shadow-5"
                 alt="{:sysconf('site_name')}价值观">
        </div>
        <div class="mdui-col-xs-6 mdui-col-sm-3 mdui-m-t-2">
            <img src="static/index/images/3.jpg" class="mdui-img-fluid mdui-img-rounded mdui-shadow-5"
                 alt="{:sysconf('site_name')}价值观">
        </div>
        <div class="mdui-col-xs-6 mdui-col-sm-3 mdui-m-t-2">
            <img src="static/index/images/4.jpg" class="mdui-img-fluid mdui-img-rounded mdui-shadow-5"
                 alt="{:sysconf('site_name')}价值观">
        </div>
    </div>
</div>
<div class="mdui-color-grey-100 mdui-p-y-auto">
    <div class="mdui-container best-memorabilia">
        <div class="best-t1 mdui-text-center">大事记</div>
        <div class="best-t-e mdui-text-uppercase mdui-text-center">Memorabilia</div>
        <div class="mdui-row mdui-sm-valign">
            <div class="mdui-col-sm-4 order-right mdui-m-b-1">
                <img src="static/index/images/begin.jpg" class="mdui-img-fluid mdui-img-rounded mdui-shadow-4"
                     alt="{:sysconf('site_name')}上线啦">
            </div>
            <div class="mdui-col-sm-8 best-memorabilia-text">
                <div class="best-t1 mdui-xs-text-center">热烈欢迎中国外贸家正式上线</div>
                <div class="best-t-e mdui-xs-text-center">Warmly welcome Bestsuppliers to go online.</div>
                <div class="best-text-content">
                    <p>
                        经过近半年的精心筹备，中国外贸家平台（www.bestsuppliers.com）于2017年10月25日，在CEO王跃能先生的领导下，正式宣布上线运行。这标志着外贸行业即将迎来一次全新的时代。</p>
                    <p class="mdui-hidden-xs">
                        中国外贸家在成立之初确定了以“让天下没有做不成的生意”为使命，将开放、正直、责任、成长作为我们永恒的价值观。为让外贸出口变得更加简单高效而不懈努力奋斗。</p>
                    <p class="mdui-hidden-sm-down">中国外贸家是三位一体的全球贸易B2B交易服务平台，它包含供应商优选平台、海外推广运营平台和外贸交易服务平台。</p>
                </div>
                <div class="best-b-time">2017-11-09</div>
            </div>
        </div>
    </div>
    <div class="mdui-container maui-p-x-0 best-memorabilia">
        <div class="mdui-row best-list">
            {volist name="new_list" id="vo" offset="0" length='3'}
            <a href="/news-info.html?id={$vo.id}" target="_blank"
               class='best-list-item mdui-bg-hover mdui-ripple mdui-col-xs-12 mdui-col-sm-6 mdui-p-a-1 '
               title="{$vo.title}">
                <div class="best-list-img"><img src="{$vo.local_url}" class="mdui-img-fluid best-img" alt="{$vo.title}">
                </div>
                <div class="best-list-bd">
                    <div class="best-list-item">
                        <div class="best-list-bd best-t2 mdui-m-l-0 mdui-list-item-one-line">{$vo.title}</div>
                        <!-- <div class="best-b-time-sm mdui-hidden-xs">{:date('Y-m-d',strtotime($vo['create_at']))}</div> -->
                    </div>
                    <div class="best-text-content mdui-list-item-two-line">{$vo.digest}</div>
                    <div class="best-b-time-sm mdui-text-right">{:date('Y-m-d',strtotime($vo['create_at']))}</div>
                </div>
            </a>
            {/volist}
        </div>
    </div>
</div>
<div class="mdui-container mdui-p-y-auto">
    <div class="mdui-text-center best-t1">合作伙伴</div>
    <div class="mdui-text-center mdui-text-uppercase best-t-e">Partner</div>
    <div class="mdui-flex mdui-row-xs-4 mdui-row-sm-8 mdui-row-md-12 best-partner justify-content-center">
        {volist name="partner_list" id="vo" offset="0" length='7'}
        <div class="mdui-col mdui-p-y-1">
            <div>
                <img src="{$vo.img_url}" alt="{$vo.title}">
            </div>
        </div>
        {/volist}
    </div>
    <div class="mdui-flex mdui-row-xs-4 mdui-row-sm-8 mdui-row-md-12 mdui-hidden-xs best-partner justify-content-center">
        {volist name="partner_list" id="vo" offset="7" length='15'}
        <div class="mdui-col mdui-p-y-1">
            <div>
                <img src="{$vo.img_url}" alt="{$vo.title}">
            </div>
        </div>
        {/volist}
    </div>
</div>
<div class="mdui-color-grey-100 best-card-news">
    <div class="mdui-container mdui-p-y-auto">
        <div class="mdui-row">
            {foreach name="data_list" item="new_list" key="k"}
            <div class="mdui-col-xs-12 mdui-col-sm-4 mdui-m-t-2">
                <div class="mdui-card">
                    <div class="mdui-card-header mdui-text-center">
                        <div class="mdui-center best-t1">{$k}</div>
                        <div class="mdui-center mdui-text-uppercase best-t-e">{$new_list[0]['nav_title_en']}</div>
                    </div>
                    {volist name="new_list" id="vo" offset="0" length='1'}
                    <a href="info/{$vo.id}" target="_blank" class="mdui-card-media mdui-ripple mdui-color-grey-100"
                       title="{$vo.title}">
                        <img src="{$vo.local_url}"
                             alt="{$vo.title}">
                        <div class="mdui-card-media-covered">
                            <div class="mdui-card-primary mdui-p-y-1">
                                <div class="best-t2 mdui-p-x-1 best-b-l-white mdui-list-item-one-line">
                                    {$vo.title}
                                </div>
                            </div>
                        </div>
                    </a>
                    {/volist}
                    <div class="mdui-card-content mdui-p-a-0">
                        <div class="mdui-list mdui-list-dense">
                            {volist name="new_list" id="vo" offset="1" length='6'}
                            <a class="mdui-list-item mdui-ripple" href="info/{$vo.id}" target="_blank"
                               title="{$vo.title}">
                                <i class="mdui-icon iconfont icon-dot"></i>
                                <div class="mdui-list-item-content">
                                    <div class="mdui-list-item-title mdui-list-item-one-line">
                                        {$vo.digest}
                                    </div>
                                </div>
                                <div class="mdui-list-item-time">{:date('Y-m-d',strtotime($vo['create_at']))}</div>
                            </a>
                            {/volist}
                        </div>
                    </div>
                    <div class="mdui-card-actions mdui-p-t-0">
                        <a href="news.html#{$vo.nav_title_en}"
                           class="mdui-btn mdui-btn-dense mdui-btn-icon mdui-float-right"><i
                                class="mdui-icon material-icons">more_horiz</i></a>
                    </div>
                </div>
            </div>
            {/foreach}
        </div>
    </div>
</div>
<footer class="mdui-container mdui-p-y-auto">
    <div class="mdui-row-xs-1 mdui-row-sm-2 mdui-sm-valign">
        <div class="mdui-col order-right mdui-text-right mdui-xs-text-center">
            <a href="tel://{:comconf('phone')}"
               class="mdui-btn mdui-btn-icon mdui-ripple mdui-color-indigo-500 mdui-m-r-2"
               mdui-tooltip="{content: '{:comconf('phone')}', position: 'top'}">
                <i class="iconfont mdui-icon icon-phone"></i>
            </a>
            <a href="mailto:{:comconf('email')}"
               class="mdui-btn mdui-ripple mdui-btn-icon mdui-color-red-500 mdui-m-r-2"
               mdui-tooltip="{content: '{:comconf('email')}', position: 'top'}">
                <i class="mdui-icon material-icons">email</i>
            </a>
            <button type="button"
                    class="mdui-btn mdui-btn-icon mdui-ripple mdui-hidden-md-up mdui-color-green-500 mdui-m-r-2 mdui-text-color-white"
                    mdui-dialog="{target: '#wechat'}">
                <i class="iconfont mdui-icon icon-wechat"></i>
            </button>
            <button type="button"
                    class="mdui-btn mdui-btn-icon mdui-ripple mdui-hidden-sm-down mdui-color-green-500 mdui-m-r-2 mdui-text-color-white"
                    id="click-wechat">
                <i class="iconfont mdui-icon icon-wechat"></i>
            </button>
            <a href="{:comconf('weibo')}" target="_blank" rel="nofollow"
               class="mdui-btn mdui-ripple mdui-btn-icon mdui-text-color-white mdui-color-amber-500"
               mdui-tooltip="{content: '欢迎访问{:sysconf('site_name')}官方微博', position: 'top'}">
                <i class="iconfont mdui-icon icon-weibo"></i>
            </a>
        </div>
        <div class="mdui-col mdui-xs-text-center mdui-p-y-1">
            {:sysconf('site_copy')} {:sysconf('site_name')}网络科技 All Rights Reserved {:sysconf('miitbeian')}
        </div>
    </div>
</footer>
<div class="mdui-dialog" id="wechat">
    <img src="{:comconf('wechat_img')}" alt="{:sysconf('site_name')}微信公众号二维码">
    <div class="mdui-typo-subheading mdui-text-center mdui-m-b-1">欢迎关注{:sysconf('site_name')}官方微信</div>
</div>
<div id="outdated"></div>
<script src="https://cdn.bootcss.com/outdated-browser/1.1.5/outdatedbrowser.min.js"></script>
<script>
    outdatedBrowser({
        bgColor: '#f25648',
        color: '#ffffff',
        lowerThan: 'transform',
        languagePath: '/static//index/zh-cn.html'
    })
</script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/mdui/0.3.0/js/mdui.min.js"></script>
<script src="https://cdn.bootcss.com/Swiper/4.0.6/js/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        loop: true,
        autoplay: true,
        paginationClickable: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true
        }
    });
    if (mySwiper.slides.length <= 3) {
        mySwiper.destroy();
    }
    $('.swiper-container').mouseenter(function () {
        mySwiper.autoplay.stop();
    }).mouseleave(function () {
        mySwiper.autoplay.start();
    });
    var wechat = new mdui.Tooltip('#click-wechat', {
        position: 'top',
        content: '<img src="{:comconf(\'wechat_img\')}" alt="微信公众号二维码"><div class="best-arrow"></div>'
    });
</script>

<!--<script type="text/javascript">-->
<!--var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");-->
<!--document.write(unescape("%3Cspan class='mdui-hidden' id='cnzz_stat_icon_1272450297'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1272450297%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));-->
<!--</script>-->
</body>

</html>
