<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="keywords" content="{:sysconf('site_name')}诚聘英才,浙江{:sysconf('site_name')}网络科技有限公司招聘">
    <meta name="description"
          content="{:sysconf('site_name')}官方招聘平台,诚邀来自社会人士,海外精英了解{:sysconf('site_name')}.{:sysconf('site_name')},中国外贸B2B综合交易服务平台平台，欢迎每一个拥抱梦想,怀揣希望的有志之士前来应聘.">
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>浙江{:sysconf('site_name')}网络科技有限公司-诚聘英才
    </title>
    <link rel="shortcut icon" href="{:sysconf('browser_icon')}">
    <link rel="dns-prefetch" href="https://cdn.bootcss.com/">
    <link href="https://cdn.bootcss.com/mdui/0.3.0/css/mdui.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/Swiper/4.0.6/css/swiper.min.css" rel="stylesheet">
    <link href="http://at.alicdn.com/t/font_446953_qql95ojohp808uxr.css" rel="stylesheet">
    <link rel="stylesheet" href="static/index/css/index.css">
    <link href="https://cdn.bootcss.com/outdated-browser/1.1.5/outdatedbrowser.min.css" rel="stylesheet">
    <script type="text/javascript">
        document.createElement("picture");
    </script>
    <script src="https://cdn.bootcss.com/picturefill/3.0.3/picturefill.min.js" async></script>
</head>

<body class="mdui-theme-primary-red mdui-theme-accent-red">
<header class="mdui-color-grey-900 mdui-shadow-5">
    <div class="mdui-container mdui-xs-fluid mdui-p-a-0">
        <div class="mdui-appbar mdui-shadow-0">
            <div class="mdui-toolbar">
                <a href="index.html" class="mdui-btn mdui-ripple mdui-m-x-2 mdui-p-a-0 best-logo">
                    {:sysconf('site_name')}<span class="mdui-hidden-xs">网络科技</span>
                </a>
                <div class="mdui-toolbar-spacer"></div>
                <a href="index.html" class="mdui-btn mdui-ripple mdui-ripple-white">首页</a>
                {volist name="nav_list" id="vo" offset="0" length='1'}
                <a href="{$vo.url}" target="{$vo.target}" class="mdui-btn mdui-ripple mdui-ripple-white">{$vo.title}</a>
                {/volist}
                <div class="mdui-hidden-sm-down mdui-m-a-0">
                    {volist name="nav_list" id="vo" offset="1" length='10'}
                    {if $navs == $vo.title }
                    <a href="{$vo.url}" target="{$vo.target}"
                       class="mdui-btn mdui-ripple mdui-ripple-white mdui-text-color-theme">{$vo.title}</a>
                    {else}
                    <a href="{$vo.url}" target="{$vo.target}"
                       class="mdui-btn mdui-ripple mdui-ripple-white">{$vo.title}</a>
                    {/if}
                    {/volist}
                </div>
                <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-hidden-md-up mdui-ripple mdui-ripple-white"
                   mdui-drawer="{target: '#left-drawer',swipe:'true'}">
                    <i class="mdui-icon material-icons">more_horiz</i>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="mdui-drawer mdui-drawer-close" id="left-drawer">
    <div class="mdui-list">
        {volist name="nav_list" id="vo" offset="1" length='10'}
        <a href="{$vo.url}" target="{$vo.target}" class="mdui-list-item mdui-ripple">{$vo.title}</a>
        {/volist}
    </div>
</div>

<div class="mdui-container-fluid best-bg-img best-bannar"
     style="background-image:url('uploads/banner/20171214/438b196942f19a20305ab97a61b94a6a.jpg')"></div>
<main class="best-main mdui-p-y-auto mdui-color-grey-100">
    <div class="mdui-container">
        <div class="mdui-row">
            <div class="mdui-col-xs-2 mdui-hidden-xs best-menu">
                <div class="mdui-list mdui-color-white">
                    <a href="#company-news" class="mdui-list-item mdui-ripple mdui-list-item-active">
                        <i class="mdui-list-item-icon iconfont mdui-icon icon-zhaopin"></i>
                        <div class="mdui-list-item-content">招聘岗位</div>
                    </a>
                    <!-- <a href="#domestic-info" class="mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon iconfont mdui-icon icon-benefits"></i>
                        <div class="mdui-list-item-content">福利待遇</div>
                    </a>
                    <a href="#internation-info" class="mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon iconfont mdui-icon icon-staff"></i>
                        <div class="mdui-list-item-content">员工风采</div>
                    </a> -->
                </div>
            </div>
            <div class="mdui-col-xs-12 mdui-col-sm-10 mdui-float-right best-item">
                <div id="company-news" class="mdui-color-white mdui-p-a-1">
                    <div class="best-partition mdui-color-grey-50 mdui-m-b-1 mdui-p-x-2 mdui-p-y-1">招聘岗位</div>
                    <div class="mdui-color-grey-200 best-recruit-head mdui-shadow-2">
                        <div class="best-recruit-hd mdui-text-left">职位</div>
                        <div class="best-recruit-item">薪酬待遇</div>
                    </div>
                    <div class="mdui-panel mdui-panel-gapless" mdui-panel="{accordion: true}">
                        {foreach name="work_list" item="vo" key="k"}
                        {if $k == '0'}
                        <div class="mdui-panel-item  mdui-panel-item-open ">
                             {else}
                        <div class="mdui-panel-item ">
                        {/if}
                            <div class="mdui-panel-item-header">
                                <div class="mdui-panel-item-title">{$vo.title}</div>
                                <div class="mdui-panel-item-summary mdui-m-p-1 mdui-text-center">{$vo.money}</div>
                                <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                            </div>
                            <div class="mdui-panel-item-body mdui-color-grey-100 mdui-typo">
                                <div class="mdui-row mdui-p-t-1">
                                    <div class="mdui-col-xs-6 mdui-col-sm-4 mdui-col-md-3"><strong>工作性质：</strong>{$vo.work_type}
                                    </div>
                                    <div class="mdui-col-xs-6 mdui-col-sm-4 mdui-col-md-3"><strong>招聘人数：</strong>{$vo.number}
                                    </div>
                                    <div class="mdui-col-xs-12 mdui-col-sm-4 mdui-col-md-3"><strong>联系人：</strong>{$vo.contacts}
                                    </div>
                                    <div class="mdui-col-xs-12 mdui-col-sm-6 mdui-col-md-3"><strong>工作地点：</strong>{$vo.address}
                                    </div>
                                    <div class="mdui-col-xs-12 mdui-col-sm-6 mdui-col-md-3"><strong>联系电话：</strong>{$vo.telphone}
                                    </div>
                                    <div class="mdui-col-xs-12 mdui-col-sm-6 mdui-col-md-3"><strong>发布时间：</strong>{:date('Y-m-d',strtotime($vo['create_at']))}
                                    </div>
                                </div>
                                <div><strong>工作职责：</strong></div>
                                <!--<ol>-->
                                    <!--<li>负责开发客户，在全国范围内完成外贸工厂的招商对接</li>-->
                                    <!--<li>负责入驻工厂的日常维护，根据客户需求做出有效反馈，及时解决问题</li>-->
                                    <!--<li>负责收集市场信息，制定并善产品的销售策略并执行实施</li>-->
                                    <!--<li>负责组织线下招商会类的活动，完成销售目标</li>-->
                                <!--</ol>-->
                                {$vo.work_content}
                                <div><strong>任职资格：</strong></div>
                                <!--<ol>-->
                                    <!--<li>大专以上学历，要求24-32岁之间，了解外贸工厂或电商平台者加分</li>-->
                                    <!--<li>有2年以上销售经验，销售功底过硬，抗压能力强，有B端销售经验加分</li>-->
                                    <!--<li>目标感强，执行力强，要性强，过硬的自我驱动力</li>-->
                                    <!--<li>性格外向，乐观开朗，情商高，做事灵活，乐于分享，团队协作能力强</li>-->
                                    <!--<li>适应出差，服从分配，有车老司机加分</li>-->
                                <!--</ol>-->
                                {$vo.qualifications}
                                <div class="mdui-panel-item-actions mdui-row mdui-sm-valign">
                                    <div class="mdui-col-xs-12 mdui-col-sm-9  mdui-xs-text-center">应聘请发送简历到
                                        <input type="text" value="{$vo.email}"
                                               class="best-input mdui-text-color-theme mdui-xs-text-center" readonly>
                                    </div>
                                    <div class="mdui-col-xs-12 mdui-col-sm-3 mdui-text-center">
                                        <button class="mdui-btn mdui-btn-dense mdui-ripple mdui-hoverable mdui-color-grey-300 copy-email">
                                            复制email
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/foreach}
            </div>
        </div>
    </div>

</main>

<footer class="mdui-container mdui-p-y-auto">
    <div class="mdui-row-xs-1 mdui-row-sm-2 mdui-sm-valign">
        <div class="mdui-col order-right mdui-text-right mdui-xs-text-center">
            <a href="tel://{:comconf('phone')}"
               class="mdui-btn mdui-btn-icon mdui-ripple mdui-color-indigo-500 mdui-m-r-2"
               mdui-tooltip="{content: '{:comconf('phone')}', position: 'top'}">
                <i class="iconfont mdui-icon icon-phone"></i>
            </a>
            <a href="mailto:{:comconf('email')}"
               class="mdui-btn mdui-ripple mdui-btn-icon mdui-color-red-500 mdui-m-r-2"
               mdui-tooltip="{content: '{:comconf('email')}', position: 'top'}">
                <i class="mdui-icon material-icons">email</i>
            </a>
            <button type="button"
                    class="mdui-btn mdui-btn-icon mdui-ripple mdui-hidden-md-up mdui-color-green-500 mdui-m-r-2 mdui-text-color-white"
                    mdui-dialog="{target: '#wechat'}">
                <i class="iconfont mdui-icon icon-wechat"></i>
            </button>
            <button type="button"
                    class="mdui-btn mdui-btn-icon mdui-ripple mdui-hidden-sm-down mdui-color-green-500 mdui-m-r-2 mdui-text-color-white"
                    id="click-wechat">
                <i class="iconfont mdui-icon icon-wechat"></i>
            </button>
            <a href="{:comconf('weibo')}" target="_blank" rel="nofollow"
               class="mdui-btn mdui-ripple mdui-btn-icon mdui-text-color-white mdui-color-amber-500"
               mdui-tooltip="{content: '欢迎访问{:sysconf('site_name')}官方微博', position: 'top'}">
                <i class="iconfont mdui-icon icon-weibo"></i>
            </a>
        </div>
        <div class="mdui-col mdui-xs-text-center mdui-p-y-1">
            {:sysconf('site_copy')} {:sysconf('site_name')}网络科技 All Rights Reserved {:sysconf('miitbeian')}
        </div>
    </div>
</footer>
<div class="mdui-dialog" id="wechat">
    <img src="{:comconf('wechat_img')}" alt="{:sysconf('site_name')}微信公众号二维码">
    <div class="mdui-typo-subheading mdui-text-center mdui-m-b-1">欢迎关注{:sysconf('site_name')}官方微信</div>
</div>
<div id="outdated"></div>
<script src="https://cdn.bootcss.com/outdated-browser/1.1.5/outdatedbrowser.min.js"></script>
<script>
    outdatedBrowser({
        bgColor: '#f25648',
        color: '#ffffff',
        lowerThan: 'transform',
        languagePath: '/static//index/zh-cn.html'
    })
</script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/mdui/0.3.0/js/mdui.min.js"></script>
<script src="https://cdn.bootcss.com/Swiper/4.0.6/js/swiper.min.js"></script>
<script>
    var wechat = new mdui.Tooltip('#click-wechat', {
        position: 'top',
        content: '<img src="{:comconf(\'wechat_img\')}" alt="微信公众号二维码"><div class="best-arrow"></div>'
    });
    $('.best-menu .mdui-list').on('click', ' .mdui-list-item', function () {
        $(this).addClass('mdui-list-item-active').siblings().removeClass('mdui-list-item-active');
        $("html,body").animate({
            scrollTop: ($($(this).attr("href")).offset().top - 80) + "px"
        }, {
            duration: 300,
            easing: "swing"
        });
    });

    $(window).scroll(function () {
        if ($(window).scrollTop() > 200) {
            $('.best-top').removeClass('mdui-fab-hide')
        } else {
            $('.best-top').addClass('mdui-fab-hide')
        }
        if ($(window).scrollTop() >= $('.best-main').offset().top) {
            $('.best-menu').addClass('fixed');
        } else {
            $('.best-menu').removeClass('fixed');
        }
        $('.best-main .best-item >div').each(function (i, el) {
            var thistop = $(this).offset().top - $(window).scrollTop();
            if (thistop > 0 && thistop < 150) {
                var needid = $(this).attr('id');
                $('.best-menu .mdui-list .mdui-list-item').each(function () {
                    if ($(this).attr('href') == ('#' + needid)) {
                        $(this).addClass('mdui-list-item-active').siblings().removeClass('mdui-list-item-active');
                    }
                });
            }
        });
    });

    // $(document).on('click', '.loadmore', function() {
    //     $(this).hide().parent().find('.mdui-loading').removeClass('mdui-hidden');
    // });

    $(document).on('click', '.copy-email', function () {
        var e = $(this).parents('.mdui-panel-item-actions').find('.best-input')
        e.select();
        document.execCommand("Copy");
        mdui.alert("复制成功！");
    });
    $('.mdui-panel').on('opened.mdui.panel', '.mdui-panel-item', function () {
        var top = $(this).offset().top;
        console.log(top);
        // $("html,body").animate({
        //     scrollTop: (top - 60) + "px"
        // }, {
        //     duration:300,
        //     easing: "swing"
        // });
    });
</script>

<!--<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan class='mdui-hidden' id='cnzz_stat_icon_1272450297'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1272450297%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));-->
<!--</script>-->
</body>

</html>
