<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="keywords" content="{:comconf('keywords')}">
    <meta name="description" content="{:comconf('description')}">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>{:comconf('title')}-新闻资讯</title>
    <link rel="shortcut icon" href="{:sysconf('browser_icon')}">
    <link rel="dns-prefetch" href="https://cdn.bootcss.com/">
    <link href="https://cdn.bootcss.com/mdui/0.3.0/css/mdui.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/Swiper/4.0.6/css/swiper.min.css" rel="stylesheet">
    <link href="http://at.alicdn.com/t/font_446953_qql95ojohp808uxr.css" rel="stylesheet">
    <link rel="stylesheet" href="static/index/css/index.css">
    <link href="https://cdn.bootcss.com/outdated-browser/1.1.5/outdatedbrowser.min.css" rel="stylesheet">
    <script type="text/javascript">
        document.createElement("picture");
    </script>
    <script src="https://cdn.bootcss.com/picturefill/3.0.3/picturefill.min.js" async></script>
</head>

<body class="mdui-theme-primary-red mdui-theme-accent-red">
<header class="mdui-color-grey-900 mdui-shadow-5">
    <div class="mdui-container mdui-xs-fluid mdui-p-a-0">
        <div class="mdui-appbar mdui-shadow-0">
            <div class="mdui-toolbar">
                <a href="index.html" class="mdui-btn mdui-ripple mdui-m-x-2 mdui-p-a-0 best-logo">
                    {:sysconf('site_name')}<span class="mdui-hidden-xs">网络科技</span>
                </a>
                <div class="mdui-toolbar-spacer"></div>
                <a href="index.html" class="mdui-btn mdui-ripple mdui-ripple-white">首页</a>
                {volist name="nav_list" id="vo" offset="0" length='1'}
                <a href="{$vo.url}" target="{$vo.target}"
                   class="mdui-btn mdui-ripple mdui-ripple-white mdui-text-color-theme">{$vo.title}</a>
                {/volist}
                <div class="mdui-hidden-sm-down mdui-m-a-0">
                    {volist name="nav_list" id="vo" offset="1" length='10'}
                    <a href="{$vo.url}" target="{$vo.target}"
                       class="mdui-btn mdui-ripple mdui-ripple-white">{$vo.title}</a>
                    {/volist}
                </div>
                <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-hidden-md-up mdui-ripple mdui-ripple-white"
                   mdui-drawer="{target: '#left-drawer',swipe:'true'}">
                    <i class="mdui-icon material-icons">more_horiz</i>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="mdui-drawer mdui-drawer-close" id="left-drawer">
    <div class="mdui-list">
        {volist name="nav_list" id="vo" offset="1" length='10'}
        <a href="{$vo.url}" target="{$vo.target}" class="mdui-list-item mdui-ripple">{$vo.title}</a>
        {/volist}
    </div>
</div>

<div class="mdui-container-fluid best-bg-img best-bannar"
     style="background-image:url('uploads/banner/20171214/65dca4354ce97e47c1260ef3e682ee03.jpg')"></div>

<main class="best-main mdui-p-y-auto mdui-color-grey-100">
    <div class="mdui-container mdui-xs-fluid">
        <div class="mdui-row">
            <div class="mdui-col-xs-2 mdui-hidden-xs best-menu">
                <div class="mdui-list mdui-color-white">
                    {foreach name="new_nav" item="vo" key="k"}
                    {if $k == '0'}
                    <a href="#{$vo.title_en}" class="mdui-list-item mdui-ripple mdui-list-item-active">
                        {else}
                        <a href="#{$vo.title_en}" class="mdui-list-item mdui-ripple">
                            {/if}
                            {if $k == '0'}
                            <i class="mdui-list-item-icon iconfont mdui-icon icon-company mdui-hidden-sm"></i>
                            {elseif $k == '1'}
                            <i class="mdui-list-item-icon iconfont mdui-icon icon-earth mdui-hidden-sm"></i>
                            {else}
                            <i class="mdui-list-item-icon iconfont mdui-icon icon-china mdui-hidden-sm"></i>
                            {/if}
                            <div class="mdui-list-item-content">{$vo.title}</div>
                        </a>
                        {/foreach}
                </div>
            </div>
            <div class="mdui-col-xs-12 mdui-col-sm-10 mdui-float-right best-item">
                {foreach name="data_list" item="new_list" key="k"}
                <div id="{$new_list[0]['nav_title_en']}" class="mdui-color-white mdui-p-a-1">
                    <div class="best-partition mdui-color-grey-50 mdui-m-b-1 mdui-p-x-2 mdui-p-y-1">{$k}</div>
                    <div class="best-news-list">
                        {volist name="new_list" id="vo"}
                        <a href="info/{$vo.id}"
                           class="mdui-row mdui-text-color-black mdui-ripple mdui-sm-valign mdui-m-x-1 mdui-m-b-1 best-new "
                           target="_blank">
                            <div class="mdui-col-xs-12 mdui-col-sm-9">
                                <div class="mdui-typo-body-2 best-new-title">
                                    {$vo.title}
                                </div>
                                <div class="mdui-typo-body-1 best-new-content mdui-text-color-grey-600 mdui-list-item-two-line">
                                    {$vo.digest}
                                </div>
                            </div>
                            <div class="mdui-col-12 mdui-col-sm-3 mdui-xs-valign mdui-p-y-1">
                                <div class="mdui-typo-body-1 mdui-m-t-1 mdui-flex-item mdui-sm-text-right">
                                    <small>{:date('Y-m-d',strtotime($vo['create_at']))}</small>
                                </div>
                                <div class="mdui-typo-body-1 mdui-m-t-1 mdui-text-color-grey-600 mdui-sm-text-right">
                                    <span><i class="mdui-icon material-icons">remove_red_eye</i> 999+</span>
                                </div>
                            </div>
                        </a>
                        {/volist}
                    </div>
                </div>
                {/foreach}
            </div>
        </div>
    </div>

</main>

<footer class="mdui-container mdui-p-y-auto">
    <div class="mdui-row-xs-1 mdui-row-sm-2 mdui-sm-valign">
        <div class="mdui-col order-right mdui-text-right mdui-xs-text-center">
            <a href="tel://{:comconf('phone')}"
               class="mdui-btn mdui-btn-icon mdui-ripple mdui-color-indigo-500 mdui-m-r-2"
               mdui-tooltip="{content: '{:comconf('phone')}', position: 'top'}">
                <i class="iconfont mdui-icon icon-phone"></i>
            </a>
            <a href="mailto:{:comconf('email')}"
               class="mdui-btn mdui-ripple mdui-btn-icon mdui-color-red-500 mdui-m-r-2"
               mdui-tooltip="{content: '{:comconf('email')}', position: 'top'}">
                <i class="mdui-icon material-icons">email</i>
            </a>
            <button type="button"
                    class="mdui-btn mdui-btn-icon mdui-ripple mdui-hidden-md-up mdui-color-green-500 mdui-m-r-2 mdui-text-color-white"
                    mdui-dialog="{target: '#wechat'}">
                <i class="iconfont mdui-icon icon-wechat"></i>
            </button>
            <button type="button"
                    class="mdui-btn mdui-btn-icon mdui-ripple mdui-hidden-sm-down mdui-color-green-500 mdui-m-r-2 mdui-text-color-white"
                    id="click-wechat">
                <i class="iconfont mdui-icon icon-wechat"></i>
            </button>
            <a href="{:comconf('weibo')}" target="_blank" rel="nofollow"
               class="mdui-btn mdui-ripple mdui-btn-icon mdui-text-color-white mdui-color-amber-500"
               mdui-tooltip="{content: '欢迎访问{:sysconf('site_name')}官方微博', position: 'top'}">
                <i class="iconfont mdui-icon icon-weibo"></i>
            </a>
        </div>
        <div class="mdui-col mdui-xs-text-center mdui-p-y-1">
            {:sysconf('site_copy')} {:sysconf('site_name')}网络科技 All Rights Reserved {:sysconf('miitbeian')}
        </div>
    </div>
</footer>
<div class="mdui-dialog" id="wechat">
    <img src="{:comconf('wechat_img')}" alt="{:sysconf('site_name')}微信公众号二维码">
    <div class="mdui-typo-subheading mdui-text-center mdui-m-b-1">欢迎关注{:sysconf('site_name')}官方微信</div>
</div>
<div id="outdated"></div>
<script src="https://cdn.bootcss.com/outdated-browser/1.1.5/outdatedbrowser.min.js"></script>
<script>
    outdatedBrowser({
        bgColor: '#f25648',
        color: '#ffffff',
        lowerThan: 'transform',
        languagePath: '/static//index/zh-cn.html'
    })
</script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/mdui/0.3.0/js/mdui.min.js"></script>
<script src="https://cdn.bootcss.com/Swiper/4.0.6/js/swiper.min.js"></script>
<script>
    var wechat = new mdui.Tooltip('#click-wechat', {
        position: 'top',
        content: '<img src="{:comconf(\'wechat_img\')}" alt="微信公众号二维码"><div class="best-arrow"></div>'
    });

    $('.best-menu .mdui-list').on('click', ' .mdui-list-item', function () {
        $(this).addClass('mdui-list-item-active').siblings().removeClass('mdui-list-item-active');
        $("html,body").animate({
            scrollTop: ($($(this).attr("href")).offset().top - 100) + "px"
        }, {
            duration: 300,
            easing: "swing"
        });
    });

    $(window).scroll(function () {
        if ($(window).scrollTop() >= $('.best-main').offset().top) {
            $('.best-menu').addClass('fixed');
        } else {
            $('.best-menu').removeClass('fixed');
        }
        $('.best-main .best-item >div').each(function (i, el) {
            var thistop = $(this).offset().top - $(window).scrollTop();
            if (thistop > 0 && thistop < 150) {
                var needid = $(this).attr('id');
                $('.best-menu .mdui-list .mdui-list-item').each(function () {
                    if ($(this).attr('href') == ('#' + needid)) {
                        $(this).addClass('mdui-list-item-active').siblings().removeClass('mdui-list-item-active');
                    }
                });
            }
        });
    });

    // $(document).on('click', '.loadmore', function() {
    //     $(this).hide().parent().find('.mdui-loading').removeClass('mdui-hidden');
    // });
</script>


<!--<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan class='mdui-hidden' id='cnzz_stat_icon_1272450297'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1272450297%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));-->
<!--</script>-->
</body>

</html>
