<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="keywords" content="{:comconf('keywords')}">
    <meta name="description" content="{:comconf('description')}">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>{$new_info.title}</title>
    <link rel="shortcut icon" href="{:sysconf('browser_icon')}">
    <link rel="dns-prefetch" href="https://cdn.bootcss.com/">
    <link href="https://cdn.bootcss.com/mdui/0.3.0/css/mdui.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/Swiper/4.0.6/css/swiper.min.css" rel="stylesheet">
    <link href="http://at.alicdn.com/t/font_446953_qql95ojohp808uxr.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/index/css/index-v=2.1.css">
    <link href="https://cdn.bootcss.com/outdated-browser/1.1.5/outdatedbrowser.min.css" rel="stylesheet">
    <script type="text/javascript">
        document.createElement("picture");
    </script>
    <script src="https://cdn.bootcss.com/picturefill/3.0.3/picturefill.min.js" async></script>
</head>

<body class="mdui-theme-primary-red mdui-theme-accent-red">
<header class="mdui-color-grey-900 mdui-shadow-5">
    <div class="mdui-container mdui-xs-fluid mdui-p-a-0">
        <div class="mdui-appbar mdui-shadow-0">
            <div class="mdui-toolbar">
                <a href="../index.html" class="mdui-btn mdui-ripple mdui-m-x-2 mdui-p-a-0 best-logo">
                    {:sysconf('site_name')}<span class="mdui-hidden-xs">网络科技</span>
                </a>
                <div class="mdui-toolbar-spacer"></div>
                <a href="../index.html" class="mdui-btn mdui-ripple mdui-ripple-white">首页</a>
                {volist name="nav_list" id="vo" offset="0" length='1'}
                <a href="../{$vo.url}" target="{$vo.target}" class="mdui-btn mdui-ripple mdui-ripple-white mdui-text-color-theme">{$vo.title}</a>
                {/volist}
                <div class="mdui-hidden-sm-down mdui-m-a-0">
                    {volist name="nav_list" id="vo" offset="1" length='10'}
                    <a href="../{$vo.url}" target="{$vo.target}"
                       class="mdui-btn mdui-ripple mdui-ripple-white">{$vo.title}</a>
                    {/volist}
                </div>
                <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-hidden-md-up mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#left-drawer',swipe:'true'}">
                    <i class="mdui-icon material-icons">more_horiz</i>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="mdui-drawer mdui-drawer-close" id="left-drawer">
    <div class="mdui-list">
        {volist name="nav_list" id="vo" offset="1" length='10'}
        <a href="{$vo.url}" target="{$vo.target}" class="mdui-list-item mdui-ripple">{$vo.title}</a>
        {/volist}
    </div>
</div>
<div class="mdui-container-fluid best-bg-img best-bannar"
     style="background-image:url('../uploads/banner/20171214/65dca4354ce97e47c1260ef3e682ee03.jpg')"></div>

<main class="mdui-p-y-auto mdui-color-grey-100">
    <div class="mdui-container mdui-xs-fluid">
        <div class="mdui-row">
            <div class="mdui-col-xs-12 mdui-col-md-9 mdui-m-b-1">
                <div class="mdui-color-white mdui-p-y-2 mdui-border mdui-border-radius">
                    <h1 class="article-title mdui-p-x-2">{$new_info.title}</h1>
                    <div class="mdui-p-y-2 article-sub">
                        <span class="mdui-m-r-3">{:date('Y-m-d',strtotime($new_info['create_at']))}</span>
                        <span>来源：{$new_info.author}</span>
                    </div>
                    <div class="article-content mdui-typo">
                        {:html_entity_decode($new_info.content)}
                    </div>
                </div>
            </div>
            <div class="mdui-col-xs-12 mdui-col-md-3">
                <div class="mdui-text-center best-new-more-title mdui-p-y-1 mdui-m-b-1 mdui-border mdui-border-radius mdui-color-white">
                    相关推荐
                </div>
                <div class="best-list best-new-more mdui-row">
                    {volist name="new_list" id="vo" offset="0" length='5'}
                    <div class="mdui-col-xs-12 mdui-col-sm-6 mdui-col-md-12 ">
                        <a href="268.html" class="best-list-item mdui-ripple mdui-p-a-1">
                            <div class="best-list-img best-list-img-xs"><img
                                    src="{$vo.local_url}"
                                    class="mdui-img-fluid best-img" alt="{$vo.title}"></div>
                            <div class="best-list-bd">
                                <div class="best-list-title mdui-list-item-two-line">{$vo.title}</div>
                                <div class="best-b-time-sm ">{:date('Y-m-d',strtotime($vo['create_at']))}</div>
                            </div>
                        </a>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
    </div>
</main>


<footer class="mdui-container mdui-p-y-auto">
    <div class="mdui-row-xs-1 mdui-row-sm-2 mdui-sm-valign">
        <div class="mdui-col order-right mdui-text-right mdui-xs-text-center">
            <a href="tel://{:comconf('phone')}"
               class="mdui-btn mdui-btn-icon mdui-ripple mdui-color-indigo-500 mdui-m-r-2"
               mdui-tooltip="{content: '{:comconf('phone')}', position: 'top'}">
                <i class="iconfont mdui-icon icon-phone"></i>
            </a>
            <a href="mailto:{:comconf('email')}"
               class="mdui-btn mdui-ripple mdui-btn-icon mdui-color-red-500 mdui-m-r-2"
               mdui-tooltip="{content: '{:comconf('email')}', position: 'top'}">
                <i class="mdui-icon material-icons">email</i>
            </a>
            <button type="button"
                    class="mdui-btn mdui-btn-icon mdui-ripple mdui-hidden-md-up mdui-color-green-500 mdui-m-r-2 mdui-text-color-white"
                    mdui-dialog="{target: '#wechat'}">
                <i class="iconfont mdui-icon icon-wechat"></i>
            </button>
            <button type="button"
                    class="mdui-btn mdui-btn-icon mdui-ripple mdui-hidden-sm-down mdui-color-green-500 mdui-m-r-2 mdui-text-color-white"
                    id="click-wechat">
                <i class="iconfont mdui-icon icon-wechat"></i>
            </button>
            <a href="{:comconf('weibo')}" target="_blank" rel="nofollow"
               class="mdui-btn mdui-ripple mdui-btn-icon mdui-text-color-white mdui-color-amber-500"
               mdui-tooltip="{content: '欢迎访问{:sysconf('site_name')}官方微博', position: 'top'}">
                <i class="iconfont mdui-icon icon-weibo"></i>
            </a>
        </div>
        <div class="mdui-col mdui-xs-text-center mdui-p-y-1">
            {:sysconf('site_copy')} {:sysconf('site_name')}网络科技 All Rights Reserved {:sysconf('miitbeian')}
        </div>
    </div>
</footer>
<div class="mdui-dialog" id="wechat">
    <img src="{:comconf('wechat_img')}" alt="{:sysconf('site_name')}微信公众号二维码">
    <div class="mdui-typo-subheading mdui-text-center mdui-m-b-1">欢迎关注{:sysconf('site_name')}官方微信</div>
</div>
<button class="mdui-fab best-top mdui-fab-hide mdui-fab-mini mdui-shadow-0 mdui-hidden-sm-down mdui-ripple mdui-ripple-white">
    <i class="iconfont mdui-icon icon-top"></i></button>
<div id="outdated"></div>
<script src="https://cdn.bootcss.com/outdated-browser/1.1.5/outdatedbrowser.min.js"></script>
<script>
    outdatedBrowser({
        bgColor: '#f25648',
        color: '#ffffff',
        lowerThan: 'transform',
        languagePath: '/static//index/zh-cn.html'
    })
</script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/mdui/0.3.0/js/mdui.min.js"></script>
<script src="https://cdn.bootcss.com/Swiper/4.0.6/js/swiper.min.js"></script>
<script>
    var wechat = new mdui.Tooltip('#click-wechat', {
        position: 'top',
        content: '<img src="{:comconf(\'wechat_img\')}" alt="微信公众号二维码"><div class="best-arrow"></div>'
    });
    $(document).on('click', '.best-top', function () {
        $("html,body").animate({
            scrollTop: 0 + "px"
        }, {
            duration: 300,
            easing: "swing"
        });
    });
    $(window).scroll(function () {
        if ($(window).scrollTop() > 400) {
            $('.best-top').removeClass('mdui-fab-hide')
        } else {
            $('.best-top').addClass('mdui-fab-hide')
        }
    });
</script>

<!--<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan class='mdui-hidden' id='cnzz_stat_icon_1272450297'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1272450297%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));-->
<!--</script>-->
</body>

</html>
